.input{
	float: right;
	padding-right: 110px;
	padding-top: 10px;
}

.well{
	height: 80px;
	width: 1364px;
}

.micro{
	float: left;
	padding-left: 75px;
	font-size: 55px;
	margin-top: -4px;
	letter-spacing: 2px;
}
